# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
env/

# Build
build/
dist/
*.spec

# Coverage/test
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.iml
